body {
    margin: 0;
    padding: 0;
	background-color: #363c41;
	color: white;
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
}
header {
    background-color: transparent;
/*    background-image: url(../images/GolfCourseLanding-Opt.jpg);
*/    background-size: cover;
    background-repeat: no-repeat;
    height: 50px;
    width: auto;
}

h3 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	color: white;
}
ul li a {
    color: green;
}

a {
	color: green;
}
a:visited {
	color:#83A07D;
}
a:hover {
	color:#66ED79;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
     color: green;   
}
    
    
nav {
    margin: 0;
    padding: 0;
}
div.navbar-header {
    background-color: rgba(0,0,0,.2);
    color: white;
}
span.brand-style {
    color: white;
    padding-left: 15px;
}
.navbar-default .navbar-brand {
    dispaly: none;
}
.navbar {
    width: auto;
    left: -15px;
    right: -15px;
}
.navbar-toggle {
    margin-right: 30px;
    ;
}
.nav.navbar-nav {
    margin-left: 10px;
    color: white;
}
.navbar-default .navbar-nav > li > a {
    color: white;
}
#navbar-collapse.navbar-collapse.collapse {
    background-color: rgba(0,0,0,.2);    
    width: auto;
}
section {
	height: 100px;
	width:auto;
	text-align: center;
	margin: 5px 50px;
	padding: 0 20px;
}

footer {
	padding: 20px;
}

.panel-footer {
	background-color: inherit;
}


@media only screen and (min-width: 992px) {
	header {
    height: 50px;
    width: auto;
}
}

@media only screen and (max-width: 768px) {
	header {
    height: 50px;
    width: auto;
}
}



@media only screen and (max-width: 600px) {
	h3 {
		font-size: 1.6em;
		line-height: 1.5;
		
	}
	section {
	height: 100px;
	width:auto;
	text-align: center;
	margin: 5px 5px;
	padding: 0 20px;
}
	header {
    height: 50px;
    width: auto;
}
}

