# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example.gitignore files : https://github.com/github/gitignore
_notes/
/bower_components/
/node_modules/
.DS_Store

*.xml

*.xml

*.xml

css/_notes/dwsync.xml

fonts/_notes/dwsync.xml

images/_notes/dwsync.xml

js/_notes/dwsync.xml
